.doc {
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f9;
  padding: 10px 24px;

  cursor: pointer;
}

.doc:first-child{
  border-top: 1px solid #ddd;
}

.doc:hover{
  background-color: #8CCE40;
}
